{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'greenhouse/style.css' %}">

<table>
    <tr>
        <th>Timestamp</th>
        <th>RH</th>
    </tr>
    {% for item in humidity_query_results %}
    <tr> 
        <td>{{ item.timestamp }}</td>
        <td>{{ item.rh_value }}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>Timestamp</th>
        <th>Delta T</th>
    </tr>
    {% for item in irrigation_query_results %}
    <tr> 
        <td>{{ item.timestamp }}</td>
        <td>{{ item.delta_t }}</td>
    </tr>
    {% endfor %}
</table>
