html, body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table {
    float: left;
    margin: 10px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd
}

th {
    background-color: #63b3ff;
    color: #fff;
}
